body,
html {
    margin: 0;
    overflow: hidden;
    -webkit-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    transition: opacity 400ms;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 3px;
    color: #2F343B;
}

body,
.onepage-wrapper,
html {
    display: block;
    position: static;
    padding: 0;
    width: 100%;
    height: 100%;
}

.onepage-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    padding: 0;
    -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
    width: 100%;
    height: 100%;
}

.onepage-pagination {
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 5;
    list-style: none;
    margin: 0;
    padding: 0;
}

.onepage-pagination li {
    padding: 0;
    text-align: center;
}

.onepage-pagination li a {
    padding: 10px;
    width: 4px;
    height: 4px;
    display: block;

}

.onepage-pagination li a:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before {
    width: 10px;
    height: 10px;
    background: none;
    border: 1px solid black;
    margin-top: -4px;
    left: 8px;
}

.disabled-onepage-scroll,
.disabled-onepage-scroll .wrapper {
    overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
    position: relative !important;
    top: auto !important;
    left: auto !important;
}

.disabled-onepage-scroll .onepage-wrapper {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    transform: none !important;
    -ms-transform: none !important;
    min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
    display: none;
}

body.disabled-onepage-scroll,
.disabled-onepage-scroll .onepage-wrapper,
html {
    position: inherit;
}


/*wlasne style*/

.first {
    background-image: url(../img/laptop.png);
    background-size: cover;
}

.second {
    background-image: url(../img/ciastka.png);
    background-size: cover;
}

.third {
    background-image: url(../img/herbata.png);
    background-size: cover;
}

.forth {
    background-image: url(../img/kwiat.png);
    background-size: cover;
}

.fifth {
    background-image: url(../img/gazeta.png);
    background-size: cover;
}

.sixth {
    background-image: url(../img/deska-gif2.gif);
    background-size: cover;
}

section {
    position: relative;
}

.innertext {
    width: 45vw;
    height: auto;
    position: absolute;
    top: 20%;
    margin: 0 auto;
    transform: translateX(60%);
    text-align: center;

    /*  top: 50%;*/
    /*  margin-top: -0.5em;*/
    /*  left: 50%;*/
    /*  margin-left: -1.9em;*/
    /*
  color: rgba(255, 255, 255, 0.7);
  font-size: 120px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
*/
}

h1 {
    font-size: 70px;
    font-family: 'Anton', sans-serif;
}

figure {
    display: inline-block;
    position: absolute;
    margin: 0;
    width: 100px;
    height: 115px; 
}

figcaption {
    font-size: 20px;
    margin: 6px;
    text-align: center; 
    width: auto;
    overflow: hidden;
    font-weight: 1000;
}

/*figure:hover {*/
/*    transform: rotate(1deg);*/
/*    text-shadow: 2px 2px #fff;*/
    /*    color: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); */
/*    opacity: 0.9;*/
/*}*/

.imgcontact,
.gifcontact {
    width: 200px;
    height: auto;
}

.imgcontact {
    position: relative;
    background-image: url(../img/deska.png)
}

.gifcontact {
    position: absolute;
    background-image: url(../img/deska-gif.gif)
}

.icontech {
    width: 80px;
    height: auto;
    display: inline-block;
}

.techfig,
.techcontent {
    width: 100px;
    height: 125px;
    margin: 0;
    display: inline-block;    
}

.techitem {
    width: 100px;
    height: 115px;
    display: inline;
    position: relative;
    display: inline-block;    
    transform: translateX(-50px);

}

/*
.techfig {
    position: relative;
    background-color: aquamarine;
    opacity: 0;
}
*/

.techcontent {
position: relative;
        overflow: hidden;

}

.techfig {
    position: absolute;
    opacity: 0;
/*    background: linear-gradient(to left, rgba(255,255,255, 0), rgba(255,255,255, 1));*/
    background: radial-gradient(white, transparent, transparent);
    border-radius: 100%;
    height: 80px;
    width: 100px;

    
}

.techfig:hover {
    opacity: 0.2;
/*    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);*/

}

#mail {
    text-decoration: none;
    color: black;
/*    border: 1px solid black;*/
    display: inline-block;
    padding: 20px;
}

#mail:hover {
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    }

@keyframes example {
    0%   {background-color: white;}
    50%  {background: linear-gradient(to right, white,orange);}
    100%  {background: linear-gradient(to right, white,orange,yellow);}

}

/*animacja
*/

